/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #e25e6a;
}

a:hover {
  color: #41b990;
  text-decoration: none;
}

.hidden {
  display: none;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background: #d7eaec;
  font-family: 'Roboto Mono', monospace;
}
body {
  color: #333;
  text-align: left;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.inner small {
  color: #D1F6FF;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}

/*
 * Add some style, sven says.
 */

.img-me {
  width: auto;
}

h1 {
  color: #265483;
}

code {
  font-size: 100%;
  color: #c35b7d;
}

.links {
}


.links a,
.links a:focus {
  color: #00999b;
}

.links a:hover {
  color: #e25e6a;
  text-decoration: none;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .cover-container {
    width: 920px;
  }
}


@media(max-width: 768px) {
  h1, p {
    text-align: center;
  }
  .links {
    margin-top: 2em;
    font-size: 1.5em;
  }
}

/* Stuff page */
body.stuff h1 {
  margin-top: 10rem;
}

body.stuff h2 {
  margin-top: 5rem;
  color: #8768bb;
  font-size: 1.6rem;
}

body.stuff dl {
  margin-top: 3rem;
}

body.stuff dl p {
  margin-bottom: 1rem;
}

body.stuff dd {
  margin-bottom: 2rem;
}

body.stuff dt {
  font-family: 'Roboto Mono', monospace;
}

body.stuff a.calltoaction,  body.stuff a.calltoaction:focus {
  color: #41b990;
  display: block;
}

body.stuff a.calltoaction:hover {
  color: #63c8f6;
  text-decoration: none;
}

@media (max-width: 768px) {
  h1, p {
    text-align: left;
  }
}
